### Data Types

In [ ]:
# Strings

In [8]:
x = 'physics'

In [13]:
x1 = x[::-1]

In [16]:
x1

'physics'

In [ ]:
# Numbers

In [17]:
x1 = 2.2
x2 = 3.0

In [22]:
x3 = x1-x2

In [24]:
round(x3,2)

-0.8

In [25]:
import pandas as pd

In [32]:
df1 = pd.DataFrame(['5.5','2.2','3.3'],columns = ['col'])

In [35]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col     3 non-null      float64
dtypes: float64(1)
memory usage: 152.0 bytes

In [30]:
df1['col'] = df1['col'].astype(float)

In [34]:
df1['col'] = pd.to_numeric(df1['col'])

In [107]:
a = [['a', '1.2', '4.2'], ['b', '70', '0.03'], ['x', '5', '0']]
df2 = pd.DataFrame(a, columns=['one', 'two', 'three'])

In [108]:
df2[['two', 'three']] = df2[['two', 'three']].astype(float)

In [ ]:
# Dates

In [36]:
import datetime

In [37]:
now = datetime.datetime.now()
print(now)

2023-03-22 13:48:43.657931

In [38]:
current_date = datetime.date.today()
print(current_date)

2023-03-22

In [39]:
### datetime.date
d = datetime.date(2022, 12, 25)
print(d)

2022-12-25

In [41]:
from datetime import date
d1 = date(2022, 12, 25)
print(d1)

2022-12-25

In [54]:
todays_date = date.today()
print("Today's date =", todays_date)

Today's date = 2023-03-21

In [42]:
### Date from timestamp
timestamp = date.fromtimestamp(1326244364)
print("Date =", timestamp)

Date = 2012-01-11

In [43]:
today = date.today() 

print("Current year:", today.year)
print("Current month:", today.month)
print("Current day:", today.day)

Current year: 2023
Current month: 3
Current day: 22

In [45]:
from datetime import time

# time(hour, minute, second ,microsecond)
b = time(11, 34, 56)
print(b)

11:34:56

In [46]:
a = time(11, 34, 56)

print("Hour =", a.hour)
print("Minute =", a.minute)
print("Second =", a.second)
print("Microsecond =", a.microsecond)

Hour = 11
Minute = 34
Second = 56
Microsecond = 0

In [60]:
from datetime import datetime

In [61]:
# datetime(year, month, day, hour, minute, second, microsecond)
b1 = datetime(2022, 12, 28, 23, 55, 59, 342380)
print(b1)

2022-12-28 23:55:59.342380

In [62]:
from datetime import datetime, date

# using date()
t1 = date(year = 2018, month = 7, day = 12)
t2 = date(year = 2017, month = 12, day = 23)

t3 = t1 - t2

print("t3 =", t3)

t3 = 201 days, 0:00:00

In [63]:
from datetime import timedelta

t1 = timedelta(weeks = 2, days = 5, hours = 1, seconds = 33)
t2 = timedelta(days = 4, hours = 11, minutes = 4, seconds = 54)

t3 = t1 - t2

print("t3 =", t3)

t3 = 14 days, 13:55:39

In [64]:
### Datetime format

from datetime import datetime

# current date and time
now = datetime.now()

t = now.strftime("%H:%M:%S")
print("Time:", t)

s1 = now.strftime("%m/%d/%Y, %H:%M:%S")
# mm/dd/YY H:M:S format
print("s1:", s1)

s2 = now.strftime("%d/%m/%Y, %H:%M:%S")
# dd/mm/YY H:M:S format
print("s2:", s2)

Time: 14:25:05
s1: 03/21/2023, 14:25:05
s2: 21/03/2023, 14:25:05

In [65]:
year = now.strftime("%Y")
print("year:", year)

month = now.strftime("%m")
print("month:", month)

day = now.strftime("%d")
print("day:", day)

time = now.strftime("%H:%M:%S")
print("time:", time)

date_time = now.strftime("%m/%d/%Y, %H:%M:%S")
print("date and time:",date_time)

year: 2023
month: 03
day: 21
time: 14:25:05
date and time: 03/21/2023, 14:25:05

In [52]:
import pandas as pd
import datetime as dt

In [54]:
### Object to date in python

df = pd.DataFrame(['05MAR2023:00:00:00.000'],columns=['Mycol'])

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Mycol   1 non-null      object
 1   Mycol1  1 non-null      datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 144.0+ bytes

In [56]:
df['Mycol1'] =  pd.to_datetime(df['Mycol'], format='%d%b%Y:%H:%M:%S.%f')

In [50]:
df

                    Mycol     Mycol1
0  05MAR2023:00:00:00.000 2023-03-05

In [53]:
df['Mycol1'] = df['Mycol'].apply(lambda x: dt.datetime.strptime(x,'%d%b%Y:%H:%M:%S.%f'))

In [90]:
# List 

l1 = ['Physics','Chemistry','Mathematics','Biology',5,5,'Physics']

In [84]:
l1.remove('Physics')

In [87]:
l1.pop(0)

'Physics'

In [88]:
l1

['Chemistry', 'Mathematics', 'Biology', 5, 5, 'Physics']

In [62]:
len(l1)

5

In [60]:
l1[0:3]

['Physics', 'Chemistry', 'Mathematics']

In [64]:
l1.insert(0,'Advance Physics')

In [65]:
l1

['Advance Physics', 'Physics', 'Chemistry', 'Mathematics', 'Biology', 5]

In [89]:
l2 = ['Advance Chem','Arts']

In [91]:
l1.extend(l2)

In [92]:
l1

['Physics',
 'Chemistry',
 'Mathematics',
 'Biology',
 5,
 5,
 'Physics',
 'Advance Chem',
 'Arts']

In [93]:
l1.insert(0,l2)

In [94]:
l1

[['Advance Chem', 'Arts'],
 'Physics',
 'Chemistry',
 'Mathematics',
 'Biology',
 5,
 5,
 'Physics',
 'Advance Chem',
 'Arts']

In [95]:
l1[0][0]

'Advance Chem'

In [71]:
len(l1)

9

In [74]:
l1.remove('Biology')

In [75]:
l1

[['Advance Chem', 'Arts'],
 'Advance Physics',
 'Physics',
 'Chemistry',
 'Mathematics',
 5,
 'Advance Chem',
 'Arts']

In [76]:
l1.pop(0)

['Advance Chem', 'Arts']

In [77]:
l1

['Advance Physics',
 'Physics',
 'Chemistry',
 'Mathematics',
 5,
 'Advance Chem',
 'Arts']

In [21]:
l1

['Physics',
 'Chemistry',
 'Mathematics',
 'Advance Chem',
 'Arts',
 'Advance Chem',
 'Arts']

In [ ]:
l1_sorted

In [97]:
for item in l1 :
    print (item)

['Advance Chem', 'Arts']
Physics
Chemistry
Mathematics
Biology
5
5
Physics
Advance Chem
Arts

In [106]:
for index,item in enumerate(l1):
    print(index,item)

0 Physics
1 Chemistry
2 Mathematics
3 Biology
4 5
5 Physics
6 Advance Chem
7 Arts

In [107]:
l1.pop(4)

5

In [108]:
l1

['Physics',
 'Chemistry',
 'Mathematics',
 'Biology',
 'Physics',
 'Advance Chem',
 'Arts']

In [111]:
l1_sep = ','.join(l1)

In [112]:
l1_sep

'Physics,Chemistry,Mathematics,Biology,Physics,Advance Chem,Arts'

In [1]:
list1 = list(range(2,30,3))

In [2]:
list1

[2, 5, 8, 11, 14, 17, 20, 23, 26, 29]

In [3]:
## List comprehension

list2 = [x**2 for x in range(1,10)]

In [4]:
list2

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [7]:
list3 = [x for x in range(1,20) if x % 9 !=0]

In [8]:
list3

[1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 19]

In [9]:
list4 = [12, 36, 56, 36, 36, 50, 56, 12]

In [12]:
l5 = list(set(list4))

In [13]:
l5

[56, 50, 12, 36]

In [ ]:
df['Labels'] = ['Bad' if x < 7.000 else 'Good' if 7.000 <= x < 8.000 else 'Very Good' for x in df['Score']]

In [ ]:
df['Labels'].value_counts()

In [14]:
list4 = [12, 36, 56, 36, 36, 50, 56, 12] 
uniq_lst = []
[uniq_lst.append(ele) for ele in list4 if ele not in uniq_lst] 
print(uniq_lst)

[12, 36, 56, 50]

In [15]:
col_list = ['c1','c2','c3','c4','c5']

In [ ]:
df1 = df[col_list]

In [ ]:
df2 = df1[(df1['c1'] > 50) & (df1['c2'] > 10000)]

In [16]:
lstnum = [12, 36, 56, 36, 36, 50, 56, 12] 
 
sum = 0
 
for ele in range(0, len(lstnum)): 
    sum = sum + lstnum[ele] 
    
print("sum of the lstnum is :",sum)

sum of the lstnum is : 294

In [35]:
lstnum1 = [6, 2, 3, 1, 10, 4] 
mutiply = 1 ;
for ele in lstnum1:
    mutiply =  mutiply* ele 
 
print ("multiplication of list items  : " ,mutiply)

multiplication of list items  :  1440

In [36]:
listnum = [[5,6,7,'C#'], ['C++',2,3]]
 
flatten_list = [ele for sublist in listnum for ele in sublist]
 
print('flatten list =',flatten_list)

flatten list = [5, 6, 7, 'C#', 'C++', 2, 3]

In [ ]:
x= ['c1','c2','c3','c4','c5']

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('train.csv')

In [17]:
listnum = ['C++',2,3,6,7,5,'C#']
listnum1 = ['C++',5,6,7,'C#']
 
intersect_res = [item for item in listnum if item in listnum1]
 
print('intersect of two list =',intersect_res)

intersect of two list = ['C++', 6, 7, 5, 'C#']

In [39]:
lstlng = [[15, 78, 4],['C#',80,7],['Go','Rust','C++'],['Python',12]]
each_list_element = [item[0] for item in lstlng] 
 
print('first element of each nested list  = ',each_list_element)

first element of each nested list  =  [15, 'C#', 'Go', 'Python']

In [ ]:
n1 = ['c1','c2']

In [18]:
n1 = [1,2,3,4]
n2 = [5,6,7,8]

n3 = list(map(lambda n1,n2 : n1**2 + n2**2,n1,n2))

In [19]:
n3

[26, 40, 58, 80]

In [42]:
def split(list_a, chunk_size):

    for i in range(0, len(list_a), chunk_size):
        yield list_a[i:i + chunk_size]

chunk_size = 3
my_list = [1,2,3,4,5,6,7,8,9]
print(list(split(my_list, chunk_size)))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [133]:
a = [3, 4, 6, 10, 11, 18]
b = [1, 5, 7, 12, 13, 19, 21]

In [134]:
a.extend(b)

In [135]:
c = sorted(a)

In [136]:
c

[1, 3, 4, 5, 6, 7, 10, 11, 12, 13, 18, 19, 21]

In [ ]:
df['c1'].dtypes

In [ ]:
cat_var = [x for x in df.columns if df[x].dtypes == 'object']

In [ ]:
df_cat = df[cat_var]

In [ ]:
### List application
df1.merge(df2, left_on = ['ID1','C1'], right_on = ['ID2','C2'])

In [ ]:
df.groupby(['c1','c2']).agg({'c3':'sum','c4':'count','c5':'first'})

In [ ]:
avg_sal = df.groupby(by = ['c1'], as_index = False).agg
({'c2' : 'mean'}).rename(columns = {'c2' : 'average_c2'})

In [ ]:
df1 = df[(df['c1'] > 45) & (df['c2'] < 100000)]

In [ ]:
df.drop(['c1','c2'],axis=1,inplace=True)

In [ ]:
df_cat['gender_f'] = np.where(df_cat['gender'] == 'F',1,0)

In [21]:
dict1 = {'nitin' : 50,'suresh':80}

In [22]:
sentence='The Mississippi River'

In [23]:
### dictionary methods
def count_ch(s):
    d = {}
    sen = s.lower()
    for s in sen :
        d[s] = d.get(s,0) + 1 
    return d

In [24]:
print(count_ch(sentence))

{'t': 1, 'h': 1, 'e': 2, ' ': 2, 'm': 1, 'i': 5, 's': 4, 'p': 2, 'r': 2, 'v': 1}

In [148]:
word_cnt = dict((c,sentence.count(c)) for c in sentence)

In [149]:
word_cnt

{'T': 1,
 'h': 1,
 'e': 2,
 ' ': 2,
 'M': 1,
 'i': 5,
 's': 4,
 'p': 2,
 'R': 1,
 'v': 1,
 'r': 1}

In [6]:
ss = """Nory was a Catholic because her mother was a Catholic, 
and Nory's mother was a Catholic because her father was a Catholic, 
and her father was a Catholic because his mother was a Catholic, 
or had been."""

In [8]:
words = ss.split()

In [9]:
d = {x:0 for x in words}

In [10]:
for i in words :
    d[i] += 1

In [11]:
print(d)

{'Nory': 1, 'was': 6, 'a': 6, 'Catholic': 3, 'because': 3, 'her': 3, 'mother': 3, 'Catholic,': 3, 'and': 2, "Nory's": 1, 'father': 2, 'his': 1, 'or': 1, 'had': 1, 'been.': 1}

In [12]:
ds = sorted(d.items(), key=lambda x:x[1], reverse=True)
print(ds)

[('was', 6), ('a', 6), ('Catholic', 3), ('because', 3), ('her', 3), ('mother', 3), ('Catholic,', 3), ('and', 2), ('father', 2), ('Nory', 1), ("Nory's", 1), ('his', 1), ('or', 1), ('had', 1), ('been.', 1)]

In [150]:
atrr_flag = {'Existing Customer':0,'Attrited Customer':1}

In [ ]:
df['Attrition_Flag'] = df['Attrition_Flag'].map(atrr_flag)

In [122]:
tuple3 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple4 = tuple3[1][1]
print(tuple4)

20

In [131]:
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0] = 222
print(tuple1)

(11, [222, 33], 44, 55)

In [124]:
tuple1 = (11, 22)
tuple2 = (99, 88)
tuple1, tuple2 = tuple2, tuple1
print(tuple2)
print(tuple1)

(11, 22)
(99, 88)

In [ ]:
tuple1 = (('a', 23), ('b', 37), ('c', 11), ('d', 29))
tuple1 = tuple(sorted(list(tuple1), key=lambda x: x[1]))
print(tuple1)

In [ ]:
### Set are unordered with no duplicates

Method	- Description
clear()	- Removes all items from the dictionary.
copy()	- Returns a shallow copy of the dictionary.
fromkeys(seq[, v])	- Returns a new dictionary with keys from seq and value equal to v (defaults to None).
get(key[,d])	- Returns the value of the key. If the key does not exist, returns d (defaults to None).
items()	- Return a new object of the dictionary's items in (key, value) format.
keys()	- Returns a new object of the dictionary's keys.
pop(key[,d]) - Removes the item with the key and returns its value or d if key is not found. If d is not provided and the key is not found, it raises KeyError.
popitem()	- Removes and returns an arbitrary item (key, value). Raises KeyError if the dictionary is empty.
setdefault(key[,d])	- Returns the corresponding value if the key is in the dictionary. If not, inserts the key with a value of d and returns d (defaults to None).
update([other])	- Updates the dictionary with the key/value pairs from other, overwriting existing keys.
values()	- Returns a new object of the dictionary's values

In [ ]:
# empty dictionary
my_dict = {}

# dictionary with integer keys
my_dict1 = {1 : 'apple', 2 : 'ball'}

# dictionary with mixed keys
my_dict2 = {'name': 'John', 1: [2, 4, 3]}

# using dict()
my_dict3 = dict({1:'apple', 2:'ball'})

# from sequence having each item as a pair
my_dict4 = dict([(1,'apple'), (2,'ball')])

In [ ]:
my_dict2

In [ ]:
# get vs [] for retrieving elements
my_dict = {'name': 'Jack', 'age': 26}

# Output: Jack
print(my_dict['name'])

# Output: 26
print(my_dict.get('age'))

In [ ]:
# Changing and adding Dictionary Elements
my_dict = {'name': 'Jack', 'age': 26}

# update value
my_dict['age'] = 27

#Output: {'age': 27, 'name': 'Jack'}
print(my_dict)

# add item
my_dict['address'] = 'Downtown'

# Output: {'address': 'Downtown', 'age': 27, 'name': 'Jack'}
print(my_dict)

In [125]:
# Dictionary Methods
marks = {}.fromkeys(['Math', 'English', 'Science'],0)

In [126]:
marks

{'Math': 0, 'English': 0, 'Science': 0}

In [127]:
for items in marks.items() :
    print(list(sorted(marks.keys())))

['English', 'Math', 'Science']
['English', 'Math', 'Science']
['English', 'Math', 'Science']

In [128]:
# Dictionary Comprehension
squares = {x: x*x for x in range(6)}

print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [129]:
squares = {}
for x in range(6):
    squares[x] = x*x
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
# Membership Test for Dictionary Keys
squares = {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

# Output: True
print(1 in squares)

In [ ]:
odd_num = {x : x**3 for x in range(1,11) if x % 2 == 1}

In [ ]:
odd_num

In [25]:
# Iterating through a Dictionary
squares = {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
for i in squares:
    print(squares[i])

1
9
25
49
81